<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.svg" type="image/svg+xml">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    {% from 'macros.html' import icon %}
</head>
<body>
    {% if not hide_header %}
    <header class="site-header">
        <p class="site-header__title"><a href="/">Binyamin's Journal</a></p>
        <nav class="nav">
            <ul class="nav__wrapper">
                <li class="nav__link"><a href="/me">About Me</a></li>
                <li class="nav__link"><a href="/now">Now</a></li>
                <li class="nav__link"><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>
    {% endif %}
    <main>
        {{content | safe}}
    </main>
    <footer class="site-footer">
        <nav class="nav">
            <ul class="nav__wrapper">
                {% for l in config.footer_links %}
                <li class="nav__link"><a href="{{ l.url }}">{{ icon(l.icon) }} {{ l.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <small class="site-footer__details">Made by <a href="https://binyam.in">Binyamin Green</a></small>
    </footer>
</body>
</html>