---
layout: base
---

<article class="h-entry page__wrapper" datetime="{{published_date | _date('iso')}}" aria-labelledby="postTitle">
    <header>
        <h1 id="postTitle" class="p-name page__title">{{title}}</h1>
        <a class="u-url" href="{{page.url|url}}">
            <time
                datetime="{{published_date | _date('iso')}}"
                class="dt-published page__date"
                aria-label="Published on {{ published_date | _date('human-short') }}"
                title="Published on {{ published_date | _date('human') }}"
            >{{ published_date | _date('human-short') }}</time>
        </a>
        <address class="p-author h-card" hidden>
            <a href="https://binyam.in" class="u-url p-name">Binyamin Green</a>
        </address>
    </header>
    <section class="e-content page__content">
        {{ content | safe }}
    </section>
    <footer class="page__footer">
        <div aria-label="Tags">
            {% for tag in tags %}
            <a href="/tags/{{tag | slug}}/" class="p-category tag">{{tag}}</a>
            {% endfor %}
        </div>
    </footer>
</article>

<style>
    .page__title {
        margin: 0;
        padding: 0;
        font-size: 48px;
        line-height: 1.0999999;
    }

    .page__date {
        color: var(--color-text--light);
        display: block;
        font-size: 14px;
        margin-top: 16px;
    }

    .page__content {
        font-size: 18px;
    }

    .page__content :any-link {
        text-decoration: solid underline var(--color-primary);
    }

    .page__footer {
        margin-top: 48px;
    }
</style>