@import url("vendor/evergreen.css");
@import url("vendor/typography.css");

:root {
    --color-primary: #44835C;
    --color-text: #333;
    --color-text--light: #888;
    --color-tag-bg: #f5f5f5;
}

html {
    color: var(--color-text);
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 2rem;
    width: min(78ch, 100%);
}

main {
    flex: 1;
}

.site-header {
    padding-top: 24px;
    margin-bottom: 96px;
}

.site-header__title {
    font-size: 25px;
    font-weight: 700;
    display: block;
    line-height: 1.0999999;
    margin: 0;
}

.site-footer {
    text-align: center;
    margin-bottom: 8px;
    margin-top: 64px;
}

.site-footer__details :any-link {
    font-weight: 700;
}

.nav__wrapper {
    display: inline-flex;
    gap: 24px;
}

:any-link {
    color: currentColor;
    text-decoration: dashed;
}

:any-link:hover {
    color: var(--color-primary);
}

.tag:not(:hover) {
    color: var(--color-text--light);
}

.tag {
    border-radius: 4px;
    background-color: var(--color-tag-bg);
    color: var(--color-text--light);
    font-size: 14px;
    margin: 4px 8px 4px 0;
    padding: 6px 12px;
}