---
title: "Binyamin's Journal"
slug: blog
---

<div class="h-feed page__wrapper">
    <header class="page__header--home">
        <h1 class="p-name page__title">Journal</h1>
        <p class="p-summary page__desc">This is a great place to read my writing.</p>
        <div hidden>
            <a href="{{- page.url -}}" class="u-url"></a>
            <address class="p-author">Binyamin Green</address>
        </div>
    </header>

    {%- for post in collections.journal | reverse() -%}
    <article aria-labelledby="post-title--{{post.data.slug}}" class="h-entry post__wrapper">
        {% set pubdate_computed = post.data.published_date | _date("iso") %}
        {% set pubdate_human = post.data.published_date | _date("human-short") %}


        <a href="{{ post.url | url }}" class="u-url" aria-labelledby="post-title--{{post.data.slug}}">
            <h2 id="post-title--{{post.data.slug}}" class="p-name post__title">
                {{post.data.title}}
            </h2>            
            
            <p class="p-summary post__excerpt">{{- post.templateContent | striptags() | truncate(210, false) -}}</p>
        </a>
        
        <time
            datetime="{{ pubdate_computed }}"
            class="dt-published post__date"
            aria-label="Published on {{ pubdate_human }}"
            title="Published on {{ pubdate_human }}"
        >{{pubdate_human}}</time>
    </article>
    {%- endfor -%}
    <style>
        .page__title {
            text-align: center;
            padding: 3rem 0;
            font-size: 48px;
        }

        .post__wrapper {
            margin-bottom: 48px;
        }

        .post__wrapper:last-of-type {
            margin-bottom: 0;
        }

        .post__title {
            margin: 0;
            font-weight: 700;
        }

        .post__excerpt {
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            display: -webkit-box;
            color: var(--color-text--light);
            margin: 0;
        }

        .post__date {
            margin: 0;
            color: var(--color-text--light);
            font-size: 0.8rem;
        }
    </style>
</div>