---
title: "Binyamin's Journal"
hide_header: true
---

<div class="page">
    <img class="page__avatar" src="/assets/avatar.png" alt="" width="150" height="150" />
    <p class="site-logo">Binyamin Green</p>
    <h1 class="page__title">Welcome</h1>
    <p class="page__desc">It's nice to meet you. Make yourself at home.</p>
    <nav class="page__nav">
        <a href="/me">About Me</a>
        <a href="/blog">Journal</a>
    </nav>
</div>

<style>
    .site-logo {
        font-size: 24px;
        font-weight: 700;
    }

    .page__title {
        margin-top: 0;
        font-size: 44px;
    }

    .page {
        text-align: center;
    }

    .page__avatar {
        margin-top: 96px;
        border-radius: 50%;
    }

    .page__desc {
        color: var(--color-text--light);
        font-size: 24px;
    }

    .page__nav {
        display: flex;
        gap: 24px;
        justify-content: center;
    }
</style>