{% macro icon(name, size=24, class=false, alt=false) %}
<svg
  width="{{ size }}"
  height="{{ size }}"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  {% if class %} class="{{class}}" {% endif %}
>
{% if alt %}<title>{{alt}}</title>{% endif %}
  <use xlink:href="/assets/feather-sprite.svg#{{ name }}"/>
</svg>
{% endmacro %}
